@model MySpace.Models.Artist
@{
    MySpace.Models.User currentUser = MySpace.Models.OnlineUsers.GetSessionUser();
    DateTime currentUserMessageCreationDate = DateTime.Now;
    var artistImageUrl = Url.Content("~/ImagesData/ArtistImage/" + Model.MainPhotoGUID + ".Jpeg");
    var fanLikes = Model.FanLikes;
    int fanCount = fanLikes.Count;
    bool userIsFollowing = false;
    foreach (var like in fanLikes)
    {
        if (like.User == currentUser && like.Artist == Model)
        {
            userIsFollowing = true;
        }
    }

}
<div>

    <div style="display:grid; grid-template-columns:30px 30px 30px">
        @Helper.GlyphiconAction("Index", "glyphicon-circle-arrow-left", "Retour à la liste")
        <h2>@Model.Name</h2>
        <span></span><span></span>
    </div>
    <div>
        <span>Abonnées : @Model.Likes</span>
        <span>Visites : @Model.Visits</span>
    </div>
</div>
<hr />
<div class="PhotoDetailsLayout">
    <div>

        <img src="@artistImageUrl" class="artistImage" />

        <div style="margin-top:8px; width:700px; text-align:justify">
            @Model.Description
            <br /> <br />
        </div>

        <div id="VideosContainer" class="VideosContainer">
            @foreach (var video in Model.Videos)
            {

                @Helper.YoutubeThumbnail(video);
            }
        </div>
    </div>
    <fieldset style="min-width: 320px;">
        <legend>
            Messages
        </legend>
        @if (MySpace.Models.OnlineUsers.CurrentUserId != Model.UserId)
        {
            <div id="commandSection" style="display:grid; grid-template-columns:30px 30px">
                <span id="NewMessage" class="glyphicon glyphiconStyle glyphicon-edit pointer" title="Envoyer un message à l'artiste...'" style="color: #337ab7"></span>
                @if (userIsFollowing)
                {
                    @Helper.GlyphiconConfirmCommand("RemoveLike" + "?artistId=" + Model.Id, "partialRefresh.command", "glyphicon-red glyphicon-heart", "Se désabonner de " + Model.Name)
                }
                else
                {
                    @Helper.GlyphiconConfirmCommand("AddLike" + "?artistId=" + Model.Id, "partialRefresh.command", " glyphicon-black glyphicon-heart", "S'abonner à " + Model.Name)
                }
            </div>
        }
        else
        {
            <div></div>
        }
        <div id="ArtistMessageContainer" class="PhotoRatingsContainer">
            @if (MySpace.Models.OnlineUsers.CurrentUserId != Model.UserId)
            {
                <div id="newMessageForm">
                    <hr />
                    <div style="height: 25px; display:grid; grid-template-columns: 110px 26px 26px">
                        <div id="AddMessage" class="glyphicon glyphicon-green glyphiconStyle glyphicon-ok pointer"
                             title="Envoyer le message" style=""></div>
                        <div id="cancelMessage" class="glyphicon glyphicon-red glyphiconStyle glyphicon-remove pointer"
                             title="Annuler la Modification de votre évaluation" style=""></div>
                    </div>
                    <textarea id="editMessage" style="width:100%"></textarea>
                </div>
            }
            else
            {
                <div></div>
            }
            @{
                IEnumerable<MySpace.Models.Message> messages = Model.Messages.OrderByDescending(m => m.Creation);

                foreach (var message in messages)
                {
                    if (!message.User.Blocked)
                    {
                        <hr />
                        <div style="height: 40px; display:grid; grid-template-columns: 180px auto ">
                            <div>
                                @Helper.AvatarUser(message.User)
                            </div>
                            <div>
                                @Helper.When(message.Creation)
                            </div>
                        </div>
                        <div>
                            @message.Text
                        </div>
                        if (message.User == currentUser || currentUser.Id == Model.User.Id)
                        {
                            <div>
                                @Helper.GlyphiconConfirmCommand("RemoveMessage" + "?messageId=" + message.Id, "partialRefresh.command", "glyphicon-red glyphicon-remove", "Supprimer ce message")
                            </div>
                        }
                        else
                        {
                            <div></div>
                        }
                    }
                }
            }
        </div>
    </fieldset>
</div>

